@import "../../assets/fonts/SFPro/fontSFPro";
@import "../../assets/variables/variables";

* {
  font-family: "San Francisco Pro", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

#root {
  font-size: $font-size + px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @media (max-width: 1210px) {
    margin-left: 10px;
    margin-right: 10px;
  }

  @media (max-width: 900px) {
    width: 900px;
  }
}

.main_container {
  margin: 0 auto;
  max-width: 1171px;
  flex: 1;
  width: 100%;
}
