.container {
  width: 100%;
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: min(100%, 400px);
  gap: 30px;
  height: calc(100% - 125px);

  &__empty {
    font-size: 24px;
    text-align: center;
    margin: 40px 0;
    grid-column: 1/-1;
  }
}
