@use "sass:math";
@import "../../assets/variables/variables";

.container {
  margin: 40px auto 0;
  font-size: math.div(20em, $font-size);
  font-weight: 700;
  max-width: 1171px;
  width: 100%;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left {
    display: flex;
    gap: 50px;

    @media (max-width: 1000px) {
      gap: 25px;
    }
  }

  &__logo {
  }

  &__right {
    display: flex;
    gap: 100px;

    @media (max-width: 1000px) {
      gap: 50px;
    }
  }
}

.bottom {
  background: #f0f0f4;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  margin-top: 20px;
}

.menuItem {
  font-weight: 400;

  &__active {
    font-weight: 600;
    text-decoration: 3px underline #1c62cd;
    text-underline-offset: 20px;
  }
}

.geolocation {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 5px;

  &__name {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    & img {
      width: 19px;
      height: 19px;
    }

    & span {
      font-size: math.div(10em, $font-size);
      font-weight: 400;
      text-decoration: underline;
    }
  }

  &__cart {
    cursor: pointer;
  }
}
